{% extends "base.html" %}
{% block content %}

<div class="product-container">

    {% for product in all_products %}
    <div class="product">
        <div class="name">
            {{product.product_name}}
            <div class="description">
                {{product.prod_description}}
                <br>
                <span class="quantity">Stock Level: {{product.quantity}}</span>
                <br>
                <span class="purchase">Purchased for: £{{product.purchase_price}}</span>
                <br>
                <span class="selling">Selling Price: £{{product.selling_price}}</span>
                <p><i>{{product.supplier.supplier_name}}</i></p>
                <div class="id">
                    Product ID: {{product.id}}
                    <div>
                        <div class="buttons">
                            <form class="create-product" action="/products/new" method="GET">
                            <button class="create-button"><i class="fas fa-plus-square" style="color: blue;" aria-hidden="true"></i></button>
                            </form>
                            <form class="update-product" action="/products/{{product.id}}/edit" method="GET">
                            <button class="edit-button"><i class="fas fa-edit" style="color: blue;" aria-hidden="true"></i></button>
                            </form>
                            <form class="delete-product" action="/products/{{product.id}}/delete" method="POST">
                            <button class="bin-button"><i class="fa fa-trash" style="color:blue" aria-hidden="true"></i></button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}