{% extends "base.html" %}
{% block content %}

<div class="product-container">

    {% for product in all_products %}
    <div class="product">
        <div class="name">
            {{product.product_name}}
            <div class="description">
                {{product.prod_description}}
                <br>
                <span class="quantity">Stock Level: {{product.quantity}}</span>
                <br>
                <span class="purchase">Purchased for: £{{product.purchase_price}}</span>
                <br>
                <span class="selling">Selling Price: £{{product.selling_price}}</span>
                <p><i>{{product.supplier.supplier_name}}</i></p>
                <div class="id">
                    Product ID: {{product.id}}
                    <hr>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}