{% extends "base.html" %}
{% block content %}

<div>
    <p>Product Name: {{product.product_name}}</p>
    <hr>
    <p>Description: {{product.prod_description}}</p>
    <hr>
    {% if product.quantity == 0 %}
      <span>&#10060;</span>
      {{product.quantity}}
    {% endif %}
      {% if product.quantity <= 2 %}
      <span> &#9888;</span>
      {{product.quantity}}
    {% endif %}
      {% if product.quantity >= 3 %}
      <span> &#9989;</span>
      {{product.quantity}}
    {% endif %}
    <hr>
    <p>Supplier: {{product.supplier.supplier_name}}</p>
    <p>Purchased for: £{{product.purchase_price}}</p>
    <p>Price: £{{product.selling_price}}</p>
    <p><a href="/products/{{product.id}}/edit">Edit</a></p>
</div>

{% endblock %}