.buttons{
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
}

.bin-button{
    display: contents;
    font-size: 65%;
    
}

.delete-product{
    display: inline;
}

.edit-button{
    display: contents;
    font-size: 65%;
    
}

.update-product{
    display: inline;
}