{% extends "base.html" %}
{% block content %}

<div class="supplier-container">

    {% for supplier in all_suppliers %}
    <div class="supplier">
        <div class="name">
            {{supplier.supplier_name}}
            <br>
            <div class="id">
                Supplier ID: {{supplier.id}}
               <br>
                <a href="/suppliers/{{supplier.id}}">View Supplier</a>
                &nbsp;
                <br>
                <br>
                <div class="buttons">
                    <form class="create-product" action="/suppliers/new" method="GET">
                    <button class="create-button"><i class="fas fa-plus-square" style="color: blue;" aria-hidden="true"></i></button>
                    </form>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <form class="update-product" action="/suppliers/{{supplier.id}}/edit" method="GET">
                    <button class="edit-button"><i class="fas fa-edit" style="color: blue;" aria-hidden="true"></i></button>
                    </form>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <form class="delete-product" action="/suppliers/{{supplier.id}}/delete" method="POST">
                    <button class="bin-button"><i class="fa fa-trash" style="color:blue" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}